USE [master]
GO
/****** Object:  Database [BTPJDM]    Script Date: 3/6/2021 3:54:47 PM ******/
CREATE DATABASE [BTPJDM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTP.Test.JDM.Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BTP.Test.JDM.Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTP.Test.JDM.Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BTP.Test.JDM.Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTPJDM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTPJDM]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 3/6/2021 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Assignments_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentsStudent]    Script Date: 3/6/2021 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentsStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAssignment] [int] NOT NULL,
	[IdStudent] [int] NOT NULL,
 CONSTRAINT [PK_AssignmentsStudent_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 3/6/2021 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Birth] [datetime] NOT NULL,
 CONSTRAINT [PK_Students_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignmentsStudent]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentsStudent_Assignments1] FOREIGN KEY([IdAssignment])
REFERENCES [dbo].[Assignments] ([Id])
GO
ALTER TABLE [dbo].[AssignmentsStudent] CHECK CONSTRAINT [FK_AssignmentsStudent_Assignments1]
GO
ALTER TABLE [dbo].[AssignmentsStudent]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentsStudent_Students1] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[AssignmentsStudent] CHECK CONSTRAINT [FK_AssignmentsStudent_Students1]
GO
USE [master]
GO
